.subscription-component {
    width: 300px;
    margin: auto;
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.step-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step {
    display: flex;
    text-align: center;
    justify-content: center;

}

.step-2 {
    display: none;
}

.step-3 {
    display: none;
}

.step-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.progress-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease-in-out;
}

.active-dot {
    background-color: blue;
    /* or your preferred highlight color */
}

.step-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.SignButton {
    margin-top: 20px;
}

.next-button,
.submit-button {
    background-color: blue;
    /* or your preferred button color */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}

.next-button:hover,
.submit-button:hover {
    background-color: darkblue;
    /* or your preferred button hover color */
}

.animation-container {
    margin-bottom: 20px;
    height: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



/* Add more styling as needed */